/* styles.css */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

h1 {
    color: #191970;
}

#temperature {
    padding: 5px;
    font-size: 16px;
    margin: 10px;
}

select {
    padding: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color:#8A2BE2;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #4B0082;
}

#result {
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center vertically in the viewport */
    background: linear-gradient(to bottom, #8A2BE2, #800080, #4B0082);

}

.row {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

/* Style the input field */
input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}

/* Style the select (dropdown) element */
select {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}

label[for="temperature"] {
    font-size: 18px;
    color: black;
    margin-right: 10px;
}

p{
    color: black;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 20px;
    font-size: 14px;
}
